<table class="table-condensed">
  <tr>
    <th><%= f.label :serial_number %></th>
    <td><%= f.text_field :serial_number %></td>
  </tr>
  <tr>
    <th><%= f.label :user_id %></th>
    <td><%= f.text_field :user_id %></td>
  </tr>
  <tr>
    <th><%= f.label :device_type, "Device Type" %></th>
    <td><%= f.text_field :device_type %></td>
  </tr>
</table>
